.card-image {
  align-items: center;
  background-color: $bg-glass;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px auto;
  max-width: 400px;
  min-height: 400px;
  padding: 20px;
  width: 100%;

  img {
    border-radius: 20px;
    max-height: 300px;
    max-width: 100%;
    object-fit: contain;
    width: auto;
  }
}

.card-image-empty {
  align-items: center;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px auto;
  padding: 60px 0px;
  position: relative;
  width: 100%;
  svg {
    color: rgba(0, 0, 0, 0.9);
    height: 110px;
    width: 110px;
  }

  #card-image-input {
    display: none;
  }
}

@media screen and (min-width: 500px) {
  .card-image {
    .card-image-empty {
      max-height: 500px;
    }
  }
}
