.color-picker {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  margin-top: 20px;
  h4 {
    font-weight: 600;
    max-width: 70%;
  }

  .picker {
    display: flex;
    flex-direction: row;
    gap: 10px;    
  }

  .swatch {
    align-items: center;
    border-radius: 999px;
    border: 3px solid #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    color: red;
    cursor: pointer;
    display: flex;
    font-weight: 900;
    height: 30px;
    justify-content: center;
    width: 30px;
  }

}

.react-colorful {
  border-radius: 20px;
  cursor: default;
}
