.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px auto;
  max-width: 500px;
  min-height: 100vh;
  width: 100%;
}

.section{
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 90%;
}

.buttons-container{
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 20px;
  margin-top: 20px;
  button{
    width: 100%;
  }
}

.card-image-container{
  .buttons-container{
    margin-bottom: 0px;
  }
}
