.error__section{
    text-align: center;
    color: $black;
    background-color: $bg-glass;
    padding: 20px;
    border-radius: 20px;

    .feather-alert-triangle{
        width: 85px;
        margin-bottom: 20px;
    }
}