.error-section{
    background-color: $bg-glass;
    border-radius: 20px;
    color: $black;
    padding: 20px;
    text-align: center;

    .feather-alert-triangle{
        margin-bottom: 20px;
        width: 85px;
    }

    h2{
        margin-bottom: 20px;
    }

    h3{
        margin-bottom: 20px;
    }
}