.footer {
  color: $black;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  padding-bottom: 20px;
  text-align: center;
  width: 90%;
  h3{
    font-size: 1em;
    font-weight: 600;
    a{
      cursor: pointer;
      text-decoration: underline;
    }
  }
 
}
