.loading {
  align-items: center;
  color: $black;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;

  .loading-text {
    font-weight: 600;
    margin-top: 30px;
  }

  .feather-refresh-cw {
    color: $white;
    width: 80px;
  }
}
