.logo {
  align-items: flex-start;
  display: flex;
  margin-top: 10px;
  width: 90%;
  img {
    margin-right: 15px;
    max-width: 45px;
    width: 100%;
  }

  p {
    color: $black;
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1;
    max-width: 80px;
    width: 50%;
  }
}

@media screen and( min-width:500px ) {
  .logo {
    width: 90%;
    img {
      max-width: 55px;
    }

    p {
      font-size: 1.8em;
      max-width: 80px;
    }
  }
}
