@import './variables';

.logo{
    display: flex;
    align-items: center;
    width: 90%;
    margin-top: 10px;
    img{
        width: 100%;
        max-width: 60px;
        margin-right: 15px;
    };

    p{
        font-size: 1.8em;
        font-weight: 700;
        line-height: 1.1;
        width: 50%;
        max-width: 80px;
        color: white;

    }
}